.elements {
  margin-bottom: 67px;
  margin-top: 36px;
  display: grid;
  grid-template-columns: repeat(auto-fit, 282px);
  column-gap: 17px;
  row-gap: 20px;
  padding: 0;
  list-style: none;
  justify-content: center;
}

@media screen and (max-width: 768px) {
  .elements {
    margin-bottom: 48px;
  }
}