.footer__copyright {
  margin: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #545454;
}

@media screen and (max-width: 768px) {
  .footer__copyright {
    max-width: 282px;
    width: 100%;
    font-size: 14px;
    line-height: 17px;
  }
}