.popup {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.5s, opacity 0.25s linear;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
}