.popup__input {
  padding: 0 0 9px;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  max-width: 358px;
  width: 100%;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: left;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.popup__input::placeholder {
  color: #C4C4C4;
}

.popup__input:focus {
  outline: 0;
}