.profile__edit-button {
  border-color: white;
  align-self: center;
  border: 0;
  background-image: url(../../../images/EditButton.svg);
  background-color: black;
  background-repeat: no-repeat;
  background-position: center center;
  width: 24px;
  height: 24px;
  cursor: pointer;
  transition: opacity linear 0.2s;
  margin-top: 6px;
}

.profile__edit-button:hover {
  opacity: 0.6;
}

@media screen and (max-width: 768px) {
  .profile__edit-button {
    width: 18px;
    height: 18px;
    background-size: 18px 18px;
  }
}
